* {
    margin: 0;
    padding: 0;
}

#title {
    width: 100%;
    background-color: slategray;
    font-size: 4em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
