* {
    margin: 0;
    padding: 0;
}

#title {
    width: 100%;
    //background-color: slategray;
    box-shadow: 0.5em 0em 1.5em 0.1em slategray;;
    border-bottom: 0.1em solid slategray;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-align: center;
}



#title .title{
    font-size: 4em;
    font-weight: bold;
    color: slategray;
    text-decoration: none;
}

#user{
    width:auto;
    height:auto;
    position: absolute;
    top:1em;
    right:1em;
}

#user #login{
    position: relative;
    top:0;
    left:0;
    width:auto;
}

#user .input{
    width:75%;
}

#user .login{
    height:100%;
    width:25%;
    position: absolute;
    top:0;
    right:0;
}

#menu {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1em;
    margin-left:1em;
    text-align: center;
}
}

#menu select{
    width:6em;
    height:1.5em;
    font-size: 1em;
}

#menu input{
    width:3em;
    height:1.75em;
}

#list{
    margin-left:4em;
    margin-right:4em;
}

.list {
    width: 100%;
    height:auto;
}

.list tr:nth-child(1){
    background-color: lightslategray;
    color:white;
    font-size: 1.2em;
    font-weight: bold;
}

.list tr:nth-child(1) td:nth-child(n+2){
    border-left: 0.05em solid white;
}

.list{
    border-spacing: 0;
}

.list tr td {
    text-align: center;
    width:20%;
}

.list tr:nth-child(n+2) td{
   background-color: gainsboro;
    border-top:0.05em solid gray;
    padding-top:1em;
    padding-bottom:1em;
    font-size:1em;
}

.list tr:nth-child(n+2) td:nth-child(n+2){
    border-left:0.05em solid gray;
}

.list tr:nth-child(1) td:nth-child(1){
    border-top-left-radius: 1em;
}

.list tr:nth-child(1) td:nth-last-child(1){
    border-top-right-radius: 1em;
}

.list tr:nth-last-child(1) td:nth-child(1){
    border-bottom-left-radius: 1em;
}

.list tr:nth-last-child(1) td:nth-last-child(1){
    border-bottom-right-radius: 1em;
}

.list tr td .background{
    display: inline-block;
    //background-color: red;
    background-color: darkgray;
    width:10em;
    height:1em;
    text-align: left;
}

.list tr td .background .bar{
    display: inline-block;
    background-color: gray;
    height:100%;
}