* {
    margin: 0;
    padding: 0;
}

#title {
    
    width: 100%;
    background-color: slategray;
}



#title a{
    font-size: 4em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#menu {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1em;
    margin-left:1em;
}

#menu select{
    width:6em;
    height:1.5em;
    font-size: 1em;
}

#menu input{
    width:3em;
    height:1.75em;
}

#list{
    margin-left:4em;
    margin-right:4em;
}

.list {
    width: 100%;
    height:auto;
}

.list tr:nth-child(1){
    background-color: lightslategray;
    color:white;
    font-size: 1.2em;
    font-weight: bold;
}

.list tr:nth-child(1) td:nth-child(n+2){
    border-left: 0.05em solid white;
}

.list{
    border-spacing: 0;
}

.list tr td {
    text-align: center;
    width:25%;
}

.list tr:nth-child(n+2) td{
   background-color: gainsboro;
    border-top:0.05em solid gray;
    padding-top:1em;
    padding-bottom:1em;
    font-size:1em;
}

.list tr:nth-child(n+2) td:nth-child(n+2){
    border-left:0.05em solid gray;
}

.list tr:nth-child(1) td:nth-child(1){
    border-top-left-radius: 1em;
}

.list tr:nth-child(1) td:nth-child(4){
    border-top-right-radius: 1em;
}

.list tr:nth-last-child(1) td:nth-child(1){
    border-bottom-left-radius: 1em;
}

.list tr:nth-last-child(1) td:nth-child(4){
    border-bottom-right-radius: 1em;
}