@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&subset=korean');
@import url('/default.css');
#background{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0.5;
    background-color:black;
    z-index: 200;
}

#side{
    width:445px;
    height:100%;
    position:fixed;
    z-index:220;
    top:0;
    right:0;
}

#side>div{
    display:inline-block;
}

#side #side_top{
     background-color:white;
    width:100%;
    height:119px;
    position: relative;
}

#side #side_top #login{
    margin-top:32px;
    margin-left:10px;
    position: relative;
}

#side #side_top #login .side_login{
     position:absolute;
    top:0;
    left:10px;
}

#side #side_top #login .side_signup{
    position:absolute;
    top:0;
    left:160px;
}
#side #side_top #login input[type=image]{
    position:absolute;
    top:0;
    left:100px;
}

#side #side_top .close{
    position:absolute;
    right:0;
    top:0;
    margin:36px;
}

#side #side_middle{
    width:495px;
    position:relative;
    height:100%;
    background-color:#E8E6E6;
    overflow-y: scroll;
}

#side #side_middle a{
    z-index: 300;
}

#side #side_middle img{
    z-index: 320;
}

#side #side_middle .side_element{
    background-color:white;
    width:428px;
    height:63px;
    font-size:25px;
    margin-left:8.5px;
    margin-top:10px;
    color:#333232;
    font-family: 'Noto Sans KR', sans-serif;
    position:relative;
}

#side #side_middle .side_element:hover,#side #side_middle .side_element:active{
    background-color:antiquewhite;
}

#side #side_middle .side_element span{
    top:13px;
    left:10px;
    position:absolute;
}

#side #side_middle .side_element img{
    position: absolute;
    top:0;
    right:0;
    margin:16px;
}