@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Noto+Serif+KR:300&subset=korean');
@import url('/default.css');

#login img, .close, #trashcan{
    cursor: pointer;
}

#background{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0.5;
    background-color:black;
    z-index: 200;
}

#side{
    width:445px;
    height:100%;
    position:fixed;
    z-index:220;
    top:0;
    right:0;
}

#trashcan{
    z-index: 220;
    bottom:20px;
    position:fixed;
}



#side>div{
    display:inline-block;
}

#side #side_top{
     background-color:white;
    width:100%;
    height:119px;
    position: relative;
}

#side #side_top #login{
    margin-top:32px;
    margin-left:10px;
    position: relative;
}

#side #side_top #login .side_login{
     position:absolute;
    top:0;
    left:10px;
}

#side #side_top #login .side_signup{
    position:absolute;
    top:0;
    left:160px;
}
#side #side_top #login input[type=image]{
    position:absolute;
    top:0;
    left:100px;
}

#side #side_top .close{
    position:absolute;
    right:0;
    top:0;
    margin:36px;
}

#side #side_middle{
    width:495px;
    position:relative;
    height:calc(100% - 119px);
    background-color:#E8E6E6;
    overflow-y: scroll;
}

#side #side_middle a{
    z-index: 300;
}

#side #side_middle img{
    z-index: 320;
}

#side #side_middle .side_element{
    background-color:white;
    width:428px;
    height:100px;
    font-size:25px;
    margin-left:8.5px;
    margin-top:10px;
    color:#333232;
    font-family: 'Noto Sans KR', sans-serif;
    position:relative;
    line-height:100px;
}

#side #side_middle .side_element:hover{
    background-color:lavender;
}

#side #side_middle .side_element span{
    left:10px;
    position:absolute;
}

#side #side_middle .side_element > a{
    z-index: 300;
}

#side #side_middle .side_element > a > a{
    z-index: 320;
    width:33px;
    height:31px;
}

#side #side_middle .side_element img{
    position: absolute;
    right:0;
    top:0;
    margin:20px;
}

#side #side_middle .omr{
    margin-left:8.5px;
    margin-top:1px;
    width:428px;
    background-color:white;
    position:relative;
    padding-bottom:10px;
}

#side #side_middle .omr .omr_row{
    text-align: center;
    padding-bottom:20px;
}

#side #side_middle .omr .omr_row a{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color:#B3ABA9;
    position: relative;
    top:8px;
}

#side #side_middle .omr .omr_row input[type=radio] {
    display: none;
}

#side #side_middle .omr .omr_row input[type=radio] + label {
    display: inline-block;
    cursor: pointer;
    line-height: 40px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-size: auto 40px;
    background-position: left;
    margin:0 10px;
}

#side #side_middle .omr .omr_row input[type=radio]:nth-child(5n-4) + label {
    background-image: url('/picture/linemenu/omr/3.png');
}

#side #side_middle .omr .omr_row input[type=radio]:nth-child(5n-3) + label {
    background-image: url('/picture/linemenu/omr/1.png');
}

#side #side_middle .omr .omr_row input[type=radio]:nth-child(5n-2) + label {
    background-image: url('/picture/linemenu/omr/4.png');
}

#side #side_middle .omr .omr_row input[type=radio]:nth-child(5n-1) + label {
    background-image: url('/picture/linemenu/omr/2.png');
}

#side #side_middle .omr .omr_row input[type=radio]:nth-child(5n) + label {
    background-image: url('/picture/linemenu/omr/5.png');
}

#side #side_middle .omr .omr_row input[type=radio]:nth-child(5n-4):checked + label {
    background-image: url('/picture/linemenu/omr/3_check.png');
}

#side #side_middle .omr .omr_row input[type=radio]:nth-child(5n-3):checked + label {
    background-image: url('/picture/linemenu/omr/1_check.png');
}

#side #side_middle .omr .omr_row input[type=radio]:nth-child(5n-2):checked + label {
    background-image: url('/picture/linemenu/omr/4_check.png');
}

#side #side_middle .omr .omr_row input[type=radio]:nth-child(5n-1):checked + label {
    background-image: url('/picture/linemenu/omr/2_check.png');
}

#side #side_middle .omr .omr_row input[type=radio]:nth-child(5n):checked + label {
    background-image: url('/picture/linemenu/omr/5_check.png');
}

#side #side_middle .side_omr_submit{
    margin-left:8.5px;
    margin-top:1px;
    width:428px;
    background-color:white;
    position:relative;
    text-align: center;
    padding-bottom: 10px;
}

#side #side_middle .side_omr_submit input[type=submit]{
    color:white;
    font-family: 'Noto Serif KR', serif;
    background-color:#72635B;
    width:408px;
    height:64px;
    font-size: 21px;
    margin-top:10px;
}

@media (min-width:480px){
    #trashcan{
        width:120;
        height:160px;
    }
}

@media (min-width:768px){
    #trashcan{
        width:150;
        height:200px;
    }
}

@media (min-width:1024px){
    #trashcan img{
        width:150;
        height:200px;
    }
}

@media (min-width:1440px){
    
}

@media (min-width:1800px){
    
}

@media (min-width:2560px){
    
}
