*{margin:0; padding:0;}

body{
   background-color: lavender; 
}

header{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    background-color: slategray;
    color: white;
}

.login{  
    background-color: lavenderblush;
    text-align: center;
    margin-left: 480px;
    width:960px;
    height:480px;
    border:1px solid lightgrey;
    border-radius:10%;
}

input[type="submit"]{
    margin-top: 10px;
    border:1px solid slategrey;
    border-radius:5px;
}

input{
    border:1px solid honeydew;
    border-radius:10px;
}

.login div:nth-child(n){
    padding-bottom: 10px;
}

.login div:nth-child(1){
    padding-top: 15px;
}
