<link href="https://fonts.googleapis.com/css?family=Gothic+A1:600"rel="stylesheet" > * {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    text-align: center;
    color:#2B2926;
}

#title {
    border: 0.15em solid #908c8a;
    width: 80em;
    text-align: center;
    display: inline-block;
    padding: 1em 0;
}

#title span {
    font-family: 'Gothic A1', sans-serif;
    font-size: 2em;
    font-weight: 700;
}

#quest {
    font-family: 'Gothic A1', sans-serif;
    border: 0.15em solid #908c8a;
    width: 80em;
    margin: 1em auto;
    padding-top: 1em;
    position: relative;
    text-align: center;
}

#quest .quest {
    width: 78em;
    text-align: left;
    display: inline-block;
    position: relative;
}

#quest .quest img {
    width: 2em;
    height: 2em;
    position: absolute;
    left: -0.5em;
    top:-0.25em;
}

#quest .text {
    border: 0.1em solid #908c8a;
    width: 78em;
    display: inline-block;
    margin-top: 1em;
    height: 28em;
    overflow: scroll;
    text-align: center;
}

#quest .text .example {
    display: inline-block;
    width: 76em;
    text-align: left;
    margin-top: 1em;
}

#quest .mark {
    width: 78em;
    text-align: left;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
}

#quest .button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 1em;
    margin-right: 1em;
}

#quest .button input {
    width: 8em;
    height: 3em;
    text-align: center;
    background-color: #6f605a;
    border: none;
    font-family: 'Gothic A1', sans-serif;
    color: white;
    margin-top: 0.5em;
}

#quest .back {
    opacity: 0.8;
    width: 2em;
    height: auto;
    position: absolute;
    left: -1.5em;
    top: 50%;
}

#quest .front {
    opacity: 0.8;
    width: 2em;
    height: auto;
    position: absolute;
    right: -1.5em;
    top: 50%;
}

input[type=radio] {
    display: none;
}

#quest .mark input[type=radio] + label {

    display: inline-block;

    cursor: pointer;

    line-height: 2em;

    padding-left: 1.5em;
    
    background-repeat: no-repeat;
    
    background-size: 1.5em auto;
    background-position: left;

}

#quest .mark input[type=radio][id=b1] + label {
    background-image: url('/picture/solve_img/selection/rectangle1.png');
}

#quest .mark input[type=radio][id=b2] + label {
    background-image: url('/picture/solve_img/selection/rectangle2.png');
}

#quest .mark input[type=radio][id=b3] + label {
    background-image: url('/picture/solve_img/selection/rectangle3.png');
}

#quest .mark input[type=radio][id=b4] + label {
    background-image: url('/picture/solve_img/selection/rectangle4.png');
}

#quest .mark input[type=radio][id=b5] + label {
    background-image: url('/picture/solve_img/selection/rectangle5.png');
}

#quest .mark input[type=radio][id=b1c] + label {
    background-image: url('/picture/solve_img/selection/greenrec1.png');
}

#quest .mark input[type=radio][id=b2c] + label {
    background-image: url('/picture/solve_img/selection/greenrec2.png');
}

#quest .mark input[type=radio][id=b3c] + label {
    background-image: url('/picture/solve_img/selection/greenrec3.png');
}

#quest .mark input[type=radio][id=b4c] + label {
    background-image: url('/picture/solve_img/selection/greenrec4.png');
}

#quest .mark input[type=radio][id=b5c] + label {
    background-image: url('/picture/solve_img/selection/greenrec5.png');
}

#quest .mark input[type=radio][id=b1]:checked + label,
#quest .mark input[type=radio][id=b1c]:checked + label {
    background-image: url('/picture/solve_img/selection/redrec1.png');
}

#quest .mark input[type=radio][id=b2]:checked + label,
#quest .mark input[type=radio][id=b2c]:checked + label {
    background-image: url('/picture/solve_img/selection/redrec2.png');
}

#quest .mark input[type=radio][id=b3]:checked + label,
#quest .mark input[type=radio][id=b3c]:checked + label {
    background-image: url('/picture/solve_img/selection/redrec3.png');
}

#quest .mark input[type=radio][id=b4]:checked + label,
#quest .mark input[type=radio][id=b4c]:checked + label {
    background-image: url('/picture/solve_img/selection/redrec4.png');
}

#quest .mark input[type=radio][id=b5]:checked + label,
#quest .mark input[type=radio][id=b5c]:checked + label {
    background-image: url('/picture/solve_img/selection/redrec5.png');
}


#omr{
    position:fixed;
    top:0;
    right:0;
    height:100%;
    width:20.5em;
    background-color: white;
}

#omr .bar{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:3.5em;
    background-color: #dad1d1;
}

#omr .body{
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    height:100%;
    width:17em;
    overflow: scroll;
}

#omr .body .text{
    position: relative;
    width:15em;
    display: inline-block;
    text-align: left;
    left:1em;
    margin-top:1em;
    color: #6f605a;
}

#omr .body .text img{
    position: absolute;
    bottom: -0.1em;
    width:auto;
    height:1.25em;
    left:-1em;
}

#omr .body .timer{
    display:inline-block;
    border:0.1em solid #6f605a;
    width:15em;
    color: #b4aba9;
    position:relative;
    margin-top:0.5em;
}

#omr .body .timer span{
    font-size: 1.5em;
}

#omr .body .alltimer{
    display:inline-block;
    border:0.1em solid #6f605a;
    width: 15em;
    color: #b4aba9;
    position:relative;
    margin-top:0.5em;
}

#omr .body .alltimer span{
    font-size: 1.5em;
}

#omr .body .omr{
    display:inline-block;
    border:0.1em solid #6f605a;
    width: 15em;
    overflow: scroll;
    height:33em;
    margin-top:1em;
    text-align: left;
}

#omr .body .omr div{
    position:relative;
    margin: 0.5em 0.5em;
    width:85%;
}

#omr .body .omr .omr_float_correct{
    border:0.5em solid #347437;
    margin: 0 0;
}

#omr .body .omr .omr_float_uncorrect{
    border:0.5em solid #983123;
    margin: 0 0;
}

#omr .body .omr input[type=submit]{
    position:relative;
    top:-0.2em;
    border:none;
    background-color:white;
    font-size: 1.75em;
    height:1em;
    color: #6d6767;
}
#omr .body input[type=radio] + label {

    display: inline-block;

    cursor: pointer;
    
    width:2em;
    height:2em;
    
    background-repeat: no-repeat;
    
    background-size: 2em auto;

}

#omr .body .omr input[type=radio][class=omr1]+label {
    background-image: url('/picture/solve_img/omr/circle1.png');
}

#omr .body input[type=radio][class=omr2] + label {
    background-image: url('/picture/solve_img/omr/circle2.png');
}

#omr .body input[type=radio][class=omr3] + label {
    background-image: url('/picture/solve_img/omr/circle3.png');
}

#omr .body input[type=radio][class=omr4] + label {
    background-image: url('/picture/solve_img/omr/circle4.png');
}

#omr .body input[type=radio][class=omr5] + label {
    background-image: url('/picture/solve_img/omr/circle5.png');
}

#omr .body input[type=radio][class=omr1]:checked + label {
    background-image: url('/picture/solve_img/omr/fillcircle1.png');
}

#omr .body input[type=radio][class=omr2]:checked + label {
    background-image: url('/picture/solve_img/omr/fillcircle2.png');
}

#omr .body input[type=radio][class=omr3]:checked + label {
    background-image: url('/picture/solve_img/omr/fillcircle3.png');
}

#omr .body input[type=radio][class=omr4]:checked + label {
    background-image: url('/picture/solve_img/omr/fillcircle4.png');
}

#omr .body input[type=radio][class=omr5]:checked + label {
    background-image: url('/picture/solve_img/omr/fillcircle5.png');
}

#omr .body .submit{
    display:inline-block;
    width: 15em;
    margin-top: 1em;
    position:relative;
}


#omr .body .submit .submit_button:nth-child(1){
    position:absolute;
    left:0;
    width:40%;
    height:3em;
    background-color: #6f605a;
    color:white;
    border:none;
}

#omr .body .submit .submit_button:nth-child(2){
    position: absolute;
    right: 0;
    width:40%;
    height:3em;
    background-color: #6f605a;
    color:white;
    border:none;
}