@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700|Noto+Serif+KR:300&subset=korean');
@import url('/default.css');

#title,#selection,#view,#buttons{
    margin-top: 16px;
    width:100%;
    height: auto;
    background-color: white;
    position: relative;
}

#title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color:#333232;
}

#title div{
    display: inline-block;
    margin:18px;
}