*{padding:0; margin:0;}
        a{text-decoration:none; color:#333333;}
        
        #title {
            width: 100%;
            background-color: slategray;
            font-size: 4em;
            font-weight: bold;
            color: white;
            text-decoration: none;
            text-align: center;
        }
        
        #All{
            width:1800px;
            background-color:#333333;
            position:relative;
        }
        
        #All_left{
            background-color:red;
            width:1344px;
            float:left;
        }
        
        #All_right{
            width:576px;
            float:right;
        }
        
        .wrap{
            width:1344px;
        }
        
        .omr_form{
            float:right;
            height:608px;
        }
        
        .timer{
            text-align: center;
            border:1px solid ;
            border-radius:10px;
        }
        
        .alltimer{
            text-align: center;
            border:1px solid purple;
        }
        
        .omr{
            padding-right:100px;
            height:608px;
            overflow: scroll;
        }
        
        .omr input{
            margin-left: 10px;
        }
        
        .submit{
            text-align: center;
        }
        
        .text{
            text-align: justify;
            padding-top: 67px;
            width:940px;
            position:absolute;
            margin-left:242px;
            word-wrap: break-word;
        }
        
        .text span{
            font-size: 18px;
        }
        
        .mark{
            padding-top:37px;
        }
        
        .btn{
            z-index: 10;
            margin-top: 270px;
            width:1210px;
            position:absolute;
            margin-left:100px;
        }
        
        .prev{
            float:left;
        }
        .next{
            float:right;
        }
        
        .mark input[type=radio]{
           display: none; 
       }
.mark input[type=radio] + label{
    display: inline-block; 
    padding-left: 30px;  
    
}

.mark input[type=radio]:nth-child(1)+ label:before {     
    position: absolute;
    content: url("/picture/button/1.gif");  
    margin-right: 10px;  
    left: 5px; 
}
.mark input[type=radio]:nth-child(1):checked + label::before {
    position: absolute;
    content: url("/picture/button/1_ch.gif");
}
label::before{
    width:10px;
    height:10px;
}